/*-------Reset-------*/
*{
    margin: 0;
    padding: 0;
}

/*-------General-------*/

html {
    background-color: $color-azul;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $color-azul !important;
}

.nav-link {
    color: #F3ECE3;
    &:hover{
        color: #FFCC64;
} 
}

.navbar-toggler-icon {
    background-color: $color-verde;
    border-radius: 3px;
}

h2 {
    color: $color-beige;
}

h3 {
    color: $color-beige;
}

p{
    color: $color-beige;
}

section form{
    color: $color-beige;
}

.hero{
    background-image: url(../img/hero3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 67vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-size: 55px;
        padding: 45px;
    }
    p{
        font-size: 25px;
        font-weight: 300;
        padding: 50px;
        margin-bottom: 30px;
        width: 75%;
    }
    a{
        text-decoration: none;
        background-color: $color-azul;
        color: $color-beige;
        padding: 17px;
        border-radius: 5px;
    }
}

.intro_tarot{
    h2{
        font-size: 45px;
        margin: 100px 0px 50px 0px;
        text-align: center;
    }
    p{
        font-size: 20px;
        padding: 0px 50px 0px 50px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 50px;
    }
}

.intro_contactanos{
    h2{
        font-size: 45px;
        margin: 100px 0px 100px 0px;
        text-align: center;
    }
    form{
        width: 80%;
        margin: auto;
    }
}

.index .tarjetas div {
    margin: 20px;
}

.tarjetas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 115px;

    div{
        width: 200px;
        height: 470px;
        text-align: center;
        color: $color-beige;
        border-radius: 13px;
        margin: 95px;
        img{
            width: 200px;
            height: 347px;
            transition: 1s;
            &:hover{
                transform: scale(1.05);
            }
        }
        h3{
            margin: 15px 0px 15px 0px;
            font-weight: 400;
            font-size: 21px;
        }
        a{
            text-decoration: none;
            color: #042940;
            background-color: $color-verde;
            font-size: 15px;
            padding: 7px;
            border-radius: 5px;
            display: block;
            margin-top: 30px;
            font-weight: 400;   
        }
        p{
            font-size: 15px;
            font-weight: 300;
        }
    }
}

.meditacion {
    background-color: $color-beige;
    margin-top: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img{
        width: 500px;
        margin: 30px;
    }
    p{
        color: #042940;
        font-weight: 500;
        font-size: 20px;
        display: block;
        width: 50%;
    }
}

.meditacion-texto{
    h3{
        text-align: center;
        margin-bottom: 70px;
    }
    ul{
        text-align: left;
        color: $color-beige;
    }
}

.beneficios {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 70px;
    img{
        width: 500px;
    }
}

.estrella01{
    position: relative;
    left: 60%;
    width: 50px;
    text-transform:uppercase;
}

.estrella02{
    position: relative;
    left: 30%;
    top: 20px;
    width: 30px;
    text-transform:uppercase;
}

.estrella03{
    position: relative;
    left: 20%;
    top: 90px;
    width: 30px;
    text-transform:uppercase;
}

.estrella04{
    position: relative;
    left: 45%;
    top: 150px;
    width: 45px;
    text-transform:uppercase;
}

.estrella05{
    position: relative;
    float: bottom;
    left: 80%;
    top: 40px;
    width: 30px;
    text-transform:uppercase;
}

.contenedor-estrellas{
    display: block;
}


.destello {
    animation-name: destello;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:destello;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes destello {  
    10% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes destello {  
    10% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}